* {
  font-family: 'IBM Plex Mono', monospace;
}




body {
  min-width: 320px;
  min-height: 100vh;

}

.padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3c1642;

}

.titlebox {
  margin: 20px;
  border: 2px rgb(217, 0, 255) solid;
  border-radius: 20px;
  width: 400px;
  height: 550px;
  box-shadow: 8px 10px purple;
  backdrop-filter: blur(5px);
  background: rgb(47, 239, 136);
}

.titletext {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  text-shadow: 1px 1px black;
  font-weight: bold;
  text-transform: uppercase;

}


.customform {
  display: grid;
  place-items: center;
  flex-direction: column;
  width: 100%;

}

.customicon {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 35px;
  margin-bottom: 30px;
}

.customicon i {
  margin: 0 20px;
  cursor: pointer;
  text-shadow: 1px 1px black;

}

.customicon i:hover {
  color: #f72585;
  animation: rotate 1s linear infinite;
  transition: all 1s;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input {
  margin: 10px 0;
  border-radius: 15px;
  text-align: center;
  border: 2px purple solid;
  box-shadow: 1px 1px black;
  width: 80%;
}

button {
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: purple;
  color: white;
  box-shadow: 1px 1px black;
}

.custombuttoncf {
  width: 250px;
}

button:hover {
  color: rgb(137, 40, 255);
  background-color: rgb(255, 255, 255);
  transition: all 1s;
}